In [57]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns',1000)
import warnings
warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
%matplotlib inline
pd.set_option('display.max_columns',1000)
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier

In [21]:
train = pd.read_csv('train-2.csv')
test = pd.read_csv('test-2.csv')

In [22]:
train.shape, test.shape

((891, 12), (418, 11))

In [23]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [24]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [25]:
train_2 = train.dropna()

In [26]:
train_2.shape

(183, 12)

In [27]:
train.shape

(891, 12)

In [33]:
train = train.drop(['Cabin'], axis =1)

In [35]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 11 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(4)
memory usage: 76.6+ KB

In [40]:
train_final = train.dropna()

In [42]:
train_final.sample(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
331,332,0,1,"Partner, Mr. Austen",male,45.5,0,0,113043,28.5000,S
707,708,1,1,"Calderhead, Mr. Edward Pennington",male,42.0,0,0,PC 17476,26.2875,S
133,134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.0000,S

In [46]:
# change age column to female == 0 and male == 0 
def gender(row):
    if (row['Sex'] == 'male'):
        return (1)
    else:
        return(0)

In [47]:
train_final['Sex'] = train_final.apply(gender, axis=1)

In [51]:
# CREATE A FEATURES LIST

In [65]:
features = ['Sex','Pclass','Age','SibSp','Fare','Parch']

In [66]:
X = train_final[features]

In [67]:
X.shape

(712, 6)

In [68]:
y = train_final['Survived']

In [69]:
X_train, X_test,y_train, y_test = train_test_split(X,y,test_size =0.30)

In [70]:
dtree = DecisionTreeClassifier()

In [71]:
dtree.fit(X_train, y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [72]:
predections = dtree.predict(X_test)

In [73]:
from sklearn.metrics import classification_report, confusion_matrix

In [74]:
print(classification_report(y_test,predections))

             precision    recall  f1-score   support

          0       0.79      0.80      0.80       130
          1       0.69      0.68      0.68        84

avg / total       0.75      0.75      0.75       214

In [75]:
print(confusion_matrix(y_test,predections))

[[104  26]
 [ 27  57]]

In [76]:
rfc = RandomForestClassifier()

In [77]:
rfc.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [78]:
rfc_pred = rfc.predict(X_test)

In [79]:
print(confusion_matrix(y_test,rfc_pred))

[[113  17]
 [ 28  56]]

In [80]:
print(classification_report(y_test,rfc_pred))

             precision    recall  f1-score   support

          0       0.80      0.87      0.83       130
          1       0.77      0.67      0.71        84

avg / total       0.79      0.79      0.79       214